*.pyc
data/
.ipynb_checkpoints/
static/node_modules
secrets.sh
scripts/*.csv
# notebooks in this repo is for debugging codes only
*.ipynb 
.DS_Store
logs/*.log
.vscode/
.config
test_*.R
.env
.env*.local