#body{
    height: initial;
}
#footer{
    position: relative;
    top: initial;
}
.json{
    max-height: 250px;
    overflow-y: scroll;
}
.parameters {
    font-size: 12px;
}

.parameters > tbody > tr > td {
    border-top: 0;
    padding: 2px;
}

.parameters > tbody > tr > td:nth-child(1) {
    font-weight: bold;
}
