<!doctype html>
<html lang="en">
  <head>
    <base href="{{ ENTER_POINT }}/"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Zichen Wang (zichen.wang@mssm.edu)">    
    <title>SCAVI - Single Cell Analysis and Visualization Interface</title>
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="node_modules/selectizebootstrap/dist/css/selectize.bootstrap4.css">    
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.0-beta/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    {% include 'partial/header.html' %}
    {% block content %}{% endblock %}
    {% include 'partial/footer.html' %}
    {% block scripts %}{% endblock %}
  </body>
</html>
