{% extends "base.html" %}
{% block content %}
    <div id="body" class="container-full">
      <canvas id="text-label"></canvas>
    </div>
{% endblock %}
{% block scripts %}

    <script src="lib/three.min.js"></script>
    <script src="lib/OrbitControls.js"></script>

    <script src="lib/Detector.js"></script>
    <script src="lib/stats.min.js"></script>
    
    <script src="js/textures.js"></script>
    <script src="js/scatterPlot.js"></script>
    <script src="js/scatterWidgets.js"></script>
    <script>
        var graph_name = "{{ graph_name }}";
        var dataset_id = "{{ dataset_id }}";
        var sdvConfig = {{ sdvConfig|safe }};
    </script>
    <script src="js/{{ script }}.js"></script>
{% endblock %}
