{% extends "base-center.html" %}
{% block content_center %}
<style type="text/css">
    #log {
        max-height: 300px;
        overflow: scroll;
        background-color: #eee;
    }
</style>
    <div class="">
        <h1>Dataset</h1>
        <dl class="row">
            <dt class="col-4">Dataset ID</dt>
            <dd class="col-8">{{ ds.id }}</dd>
            <dt class="col-4">N samples</dt>
            <dd class="col-8">{{ ds.sample_ids|length }}</dd>
            <dt class="col-4">N genes</dt>
            <dd class="col-8">{{ ds.genes|length }}</dd>
        </dl>                    
    </div>
    <div>
        <h1>Visualizations</h1>
        <ul>
            {% for vis in ds.visualizations %}
                <li><a href="graph_page/{{ds.id}}/{{vis['name']}}/2">{{vis['name']}}-2D</a></li>
                {% if vis['has3d'] %}
                    <li><a href="graph_page/{{ds.id}}/{{vis['name']}}/3">{{vis['name']}}-3D</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div>
        <h1>Enrichment analysis</h1>
        <h4>Finished:</h4>
        <ul>
            {% for er in ds.enrichment_results %}
            <li>{{er['gene_set_library']}}</li>
            {% endfor %}
        </ul>

        {% if ds.er_pendings|length > 0 %}
        <h4>Pending:</h4>
        <ul>
            {% for er in ds.er_pendings %}
            <li>{{er['gene_set_library']}}, {{er['count']}}/{{ds.sample_ids|length}} finished</li>
            {% endfor %}
        </ul>

        {% endif %}
    </div>
    <div>
        <h4>Live log</h4>
        <div id="log">
            {% for line in logger_msg %}
                <div>{{line}}</div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="lib/socket.io.min.js"></script>
    <script type="text/javascript">
        
$(document).ready(function(){
    var enter_point = '/' + window.location.pathname.split('/')[1]
    var namespace = enter_point + '/' + '{{ds.id}}';
    var url = 'http://' + document.domain + ':' + location.port + namespace
    var socket = io(url, {path: enter_point + '/socket.io'})

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                socket.emit('my_event', {data: 'I\'m connected!'});
                socket.emit('check_status', {id: '{{ ds.id }}'});
            });
            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
            socket.on('my_response', function(msg) {
                $('#log').append('<br>'+ $('<div/>').text(msg.data).html());
                // $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
            });

});
    </script>
{% endblock %}