{% extends "base-center.html" %}
{% block content_center %}
    <div class="row">
        <h1>Dataset</h1>
        <dl class="dl-horizontal">
            <dt>Dataset ID</dt>
            <dd>{{ ds.id }}</dd>
            <dt>N samples</dt>
            <dd>{{ ds.sample_ids|length }}</dd>
            <dt>N genes</dt>
            <dd>{{ ds.genes|length }}</dd>
        </dl>                    
    </div>
    <div class="row">
        <h1>Visualizations</h1>
        <ul>
            {% for vis in ds.visualizations %}
            <li><a href="graph_page/{{ds.id}}/{{vis['name']}}">{{vis['name']}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="row">
        <h1>Enrichment analysis</h1>
        <h4>Finished:</h4>
        <ul>
            {% for er in ds.enrichment_results %}
            <li>{{er['gene_set_library']}}</li>
            {% endfor %}
        </ul>

        {% if ds.er_pendings|length > 0 %}
        <h4>Pending:</h4>
        <ul>
            {% for er in ds.er_pendings %}
            <li>{{er['gene_set_library']}}, {{er['count']}}/{{ds.sample_ids|length}} finished</li>
            {% endfor %}
        </ul>

        {% endif %}
    </div>
    <div class="row">
        <h4>Live status</h4>
        <div class="well" id="log"></div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript">
        
$(document).ready(function(){
    var namespace = '/' + '{{ds.id}}';
    var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                socket.emit('my_event', {data: 'I\'m connected!'});
                socket.emit('check_status', {id: '{{ ds.id }}'});
            });
            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
            socket.on('my_response', function(msg) {
                $('#log').append('<br>'+ $('<div/>').text(msg.data).html());
                // $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
            });

});
    </script>
{% endblock %}