{% extends "base-center.html" %}
{% block content_center %}
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="inputFile1">Expression matrix file</label>
            <input type="file" id="inputFile1" name="data" class="form-control-file">
            <p class="form-text">Expression matrix file need to be a csv or txt file with genes by samples matrix. The values in the matrix can be read counts or normalized read counts such as CPM, RPKM, FPKM, TPM and etc. <a href="data/sample_read_counts_26511x45.csv">Example</a></p>
        </div>

        <div class="form-group">
            <label for="inputFile2">Metadata file</label>
            <input type="file" id="inputFile2" name="metadata" class="form-control-file">
            <p class="form-text">Metadata file need to be a csv or txt file with the samples on the rows and attributes on the columns. <a href="data/sample_metadata.csv">Example</a></p>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
{% endblock %}