{% extends "base-center.html" %}
{% block content_center %}
    <div class="alert alert-success">
        <h4 class="alert-heading">Success!</h4>
        <p>Your data file ({{data_filename}}) and metadata file ({{metadata_filename}}) has been uploaded.</p> 
        {% if dataset_exists %}
            <p>However, this dataset already exists in the database, the dataset ID is {{ds.id}}</p>
        {% else %}
            <p>You dataset ID is {{ds.id}}</p>
        {% endif %}
        <p>You can check the progress of the analyses results through <a href="progress/{{ds.id}}">this link</a>.</p>

    </div>
{% endblock %}