<div class='container-fluid mt-4' id='footer'>
  <div class='row justify-content-center'>
    <div class='col-10'>
      <div class="row">
        <div class='col-md-4'>
          <h5>About</h5>
          <p>scAVI0 is actively developed by the <a href='http://icahn.mssm.edu/research/labs/maayan-laboratory' target='_blank'>Ma’ayan Laboratory</a>, Icahn School of Medicine at Mount Sinai</a>, New York, NY 10029 USA</p>
        </div>
        <div class='col-md-4'>
          <h5>Contact</h5>
          <ul class='list-unstyled'>
            <li>
              <a href='mailto:mailto:zichen.wang@mssm.edu;avi.maayan@mssm.edu'>Zichen Wang and Avi Ma'ayan</a>
            </li>
          </ul>
        </div>
        <div class='col-md-4'>
          <div class="d-flex flex-column">
            <div class="p-1">
                <a class="btn btn-outline-dark btn-sm" href="https://github.com/MaayanLab/SCAVI" target="_blank">
                  <i class="fab fa-github"></i>
                  View Source Code
                </a>
            </div>
            <div class="p-1">
                <a class="btn btn-outline-dark btn-sm" href="https://github.com/MaayanLab/SCAVI/issues" target="_blank">
                  <i class="fab fa-github"></i>
                  Submit Bug Report
                </a>      
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-60506844-12"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-60506844-12');
</script>

<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/underscore/underscore-min.js"></script>
<script src="node_modules/backbone/backbone-min.js"></script>
<script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="node_modules/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>

<script src="node_modules/d3/d3.min.js"></script>
<script src="node_modules/d3-svg-legend/d3-legend.min.js"></script>
<script src="node_modules/selectizebootstrap/dist/js/selectize/standalone/selectize.min.js"></script>
<script src="node_modules/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
