<div id="nav">
  <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <a class="navbar-brand" title="Visualization of Single-Cell Transcriptomics" href="#">
      <img class="ml-lg-1" src="images/favicon.png" width="50px" height="50px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <a class="navbar-brand" href="#">
        <span class="h2">
          Global Interactive Visualization with Enrichment (GIVWE)
        </span>    
      </a>
      <ul class="navbar-nav mr-auto">
          {% if graphs is defined %}
            <li class="nav-item mr-1" id="vis-btn-group"></li>
            <li class="nav-item ml-1" id="dim-toggle"></li>
          {% endif %}
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a class="btn btn-info mr-1" href="upload">
          Upload Your Dataset
        </a>
        <a href="{{url_for('all_datasets')}}" class="btn btn-info ml-1">
          Browse Datasets
        </a>
      </form>
    </div>
  </nav>
</div>
