<div id="nav">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" title="Visualization of Single-Cell Transcriptomics" href="all">
      <span>
        <img src="images/favicon.ico" width="25px" height="25px">
      </span>
        Single Cell Analysis and VIsualization (scAVI)
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
          {% if graphs is defined %}
            {% for graph in graphs %}

              {% if graph.has3d and graph.name == graph_name %}
                <li class="nav-item dropdown active">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdown-{{graph.name}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{graph.name}}</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="graph_page/{{dataset_id}}/{{ graph.name }}/2">2D</a>
                    <a class="dropdown-item" href="graph_page/{{dataset_id}}/{{ graph.name }}/3">3D</a>
                  </div>
              
              {% elif graph.has3d and graph.name != graph_name %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdown-{{graph.name}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{graph.name}}</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="graph_page/{{dataset_id}}/{{ graph.name }}/2">2D</a>
                    <a class="dropdown-item" href="graph_page/{{dataset_id}}/{{ graph.name }}/3">3D</a>
                  </div>

              {% elif not graph.has3d and graph.name == graph_name%}
                <li class="nav-item active">
                  <a class="nav-link" href="graph_page/{{dataset_id}}/{{ graph.name }}/2">{{ graph.name }}</a>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="graph_page/{{dataset_id}}/{{ graph.name }}/2">{{ graph.name }}</a>
              {% endif %}
                </li>

            {% endfor %}
          {% endif %}
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a class="nav-link btn btn-info" href="upload">
          <i class="fas fa-cloud-upload-alt"></i>  
          upload your own dataset <span class="sr-only">(current)</span></a>
      </form>
    </div>
  </nav>
</div>
