<div id="nav">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark" role="navigation">
    <a class="navbar-brand" title="Visualization of Single-Cell Transcriptomics" href="#">
      <span>
        <img src="images/logo.png" width="25px" height="25px">
      </span>Visualization of Single-Cell Transcriptomics: {{ graph_name.strip('.json') }}
    </a>
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li id="graph_page" class="nav-item active">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Layouts</a>
            <div class="dropdown-menu" role="menu">

              {% for graph in graphs %}
              <a class="dropdown-item" href="graph_page/{{ graph.name }}">{{ graph.display_name }}</a>
              {% endfor %}

            </div>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
</div>
